.container {
  margin-top: 5%;
}

.todo {
    list-style-type: none;
    margin-top: 2px;
    padding: 5px;
    background-color: #e5e5e5;
    border-radius: 10px;
}

.remove {
    float: right;
    color: red;
    padding-right: 10px;
    cursor: pointer;
    margin-top: 5px;
}

.loader {
    text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li {
  padding: 20px;
  font-size: 1.3em;
  background-color: #E0EDF4;
  border-left: 5px solid #3EB3F6;
  margin-bottom: 2px;
  color: #3E5252;
}
