<div class="container">
  <app-insert-todo (insertedTodo)="onInsertedTodo()"></app-insert-todo>

  <div class="row">
    <div class="col-sm-12">

      <div class="loader">
        <div *ngIf="!todos" class="spinner-border border-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <div *ngIf="errorGettingTodos" class="alert alert-danger" role="alert">
        Error
      </div>

      <ul>
        <li class="todo" *ngFor="let todo of todos">{{todo.description}}
          <i class="fa fa-minus-circle remove" (click)="removeTodo(todo._id)"></i>
        </li>
      </ul>
    </div>
  </div>
</div>
