<div class="row" style="margin-bottom:5%">
    <div class="col-sm-12">
        <input (keyup.enter)="onInsert()" placeholder="Enter a skill that you have..." type="text" class="form-control" [(ngModel)]="todoInput" />
    </div>
</div>
